In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pratise").getOrCreate()

22/01/19 14:16:28 WARN Utils: Your hostname, gautam resolves to a loopback address: 127.0.1.1; using 192.168.149.227 instead (on interface wlp3s0)
22/01/19 14:16:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/gautam/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/19 14:16:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/19 14:16:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/01/19 14:16:29 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/01/19 14:16:29 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/01/19 14:16:29 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [5]:
py_spark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [6]:
py_spark.show()

+--------+---+----------+------+------------+
|    name|age|experience|salary|  department|
+--------+---+----------+------+------------+
|  mukesh| 23|        10|  8999|data science|
|  rakesh| 34|         3|   877|         IOT|
|  rukesh| 33|         2|  2333|    Big Data|
|    ravi| 23|        33| 23000|    Big Data|
|    sonu| 34|         4|  3422|data science|
|    monu| 34|         2|  3673|data science|
|rajkumar| 43|         4|  6765|         IOT|
|   Subhu| 33|         7|  5555|    Big Data|
|  gautam| 44|         4| 87878|          AI|
|  suresh| 88|        46| 87878|         NLP|
|   sunny| 77|        77|  7677|         IVP|
+--------+---+----------+------+------------+

In [7]:
py_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [11]:
py_spark.groupBy('name').sum().show()

+--------+--------+---------------+-----------+
|    name|sum(age)|sum(experience)|sum(salary)|
+--------+--------+---------------+-----------+
|  suresh|      88|             46|      87878|
|  rakesh|      34|              3|        877|
|  rukesh|      33|              2|       2333|
|  gautam|      44|              4|      87878|
|    monu|      34|              2|       3673|
|   sunny|      77|             77|       7677|
|    ravi|      23|             33|      23000|
|    sonu|      34|              4|       3422|
|   Subhu|      33|              7|       5555|
|rajkumar|      43|              4|       6765|
|  mukesh|      23|             10|       8999|
+--------+--------+---------------+-----------+

In [12]:
py_spark.groupBy('department').sum().show()

+------------+--------+---------------+-----------+
|  department|sum(age)|sum(experience)|sum(salary)|
+------------+--------+---------------+-----------+
|         IVP|      77|             77|       7677|
|         IOT|      77|              7|       7642|
|data science|      91|             16|      16094|
|         NLP|      88|             46|      87878|
|          AI|      44|              4|      87878|
|    Big Data|      89|             42|      30888|
+------------+--------+---------------+-----------+

In [13]:
py_spark.groupBy('department').mean().show()

+------------+------------------+-----------------+-----------------+
|  department|          avg(age)|  avg(experience)|      avg(salary)|
+------------+------------------+-----------------+-----------------+
|         IVP|              77.0|             77.0|           7677.0|
|         IOT|              38.5|              3.5|           3821.0|
|data science|30.333333333333332|5.333333333333333|5364.666666666667|
|         NLP|              88.0|             46.0|          87878.0|
|          AI|              44.0|              4.0|          87878.0|
|    Big Data|29.666666666666668|             14.0|          10296.0|
+------------+------------------+-----------------+-----------------+

In [14]:
py_spark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IVP|    1|
|         IOT|    2|
|data science|    3|
|         NLP|    1|
|          AI|    1|
|    Big Data|    3|
+------------+-----+

In [15]:
py_spark.agg({'salary': 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     238057|
+-----------+

In [16]:
py_spark.groupBy('department').max().show()

+------------+--------+---------------+-----------+
|  department|max(age)|max(experience)|max(salary)|
+------------+--------+---------------+-----------+
|         IVP|      77|             77|       7677|
|         IOT|      43|              4|       6765|
|data science|      34|             10|       8999|
|         NLP|      88|             46|      87878|
|          AI|      44|              4|      87878|
|    Big Data|      33|             33|      23000|
+------------+--------+---------------+-----------+

In [17]:
py_spark.groupBy('department').min().show()

+------------+--------+---------------+-----------+
|  department|min(age)|min(experience)|min(salary)|
+------------+--------+---------------+-----------+
|         IVP|      77|             77|       7677|
|         IOT|      34|              3|        877|
|data science|      23|              2|       3422|
|         NLP|      88|             46|      87878|
|          AI|      44|              4|      87878|
|    Big Data|      23|              2|       2333|
+------------+--------+---------------+-----------+