In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('pratise').getOrCreate()

22/01/19 12:53:58 WARN Utils: Your hostname, gautam resolves to a loopback address: 127.0.1.1; using 192.168.149.227 instead (on interface wlp3s0)
22/01/19 12:53:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/gautam/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/19 12:53:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/19 12:53:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/01/19 12:53:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|experience|salary|
+------+----+----------+------+
|mukesh|  23|        10|  8999|
|rakesh|  34|         3|   877|
|rukesh|  33|         2|  2333|
|  ravi|  23|        33| 23000|
|  sonu|  34|         4|  3422|
|  null|null|      null|  null|
|  null|  43|      null|  null|
|  null|  33|      null|  5555|
|  null|  44|         4|  null|
+------+----+----------+------+

In [5]:
df_pyspark.drop('column_name')

DataFrame[Name: string, Age: int, experience: int, salary: int]

In [6]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|experience|salary|
+------+----+----------+------+
|mukesh|  23|        10|  8999|
|rakesh|  34|         3|   877|
|rukesh|  33|         2|  2333|
|  ravi|  23|        33| 23000|
|  sonu|  34|         4|  3422|
|  null|null|      null|  null|
|  null|  43|      null|  null|
|  null|  33|      null|  5555|
|  null|  44|         4|  null|
+------+----+----------+------+

In [8]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
+------+---+----------+------+

In [10]:
df_pyspark.na.drop(how='all').show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
|  null| 43|      null|  null|
|  null| 33|      null|  5555|
|  null| 44|         4|  null|
+------+---+----------+------+

In [11]:
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
+------+---+----------+------+

In [12]:
df_pyspark.na.drop(how='any', thresh=2).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
|  null| 33|      null|  5555|
|  null| 44|         4|  null|
+------+---+----------+------+

In [13]:
df_pyspark.na.drop(how='any', thresh=3).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
+------+---+----------+------+

In [15]:
df_pyspark.na.drop(how='any', subset=['experience']).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
|  null| 44|         4|  null|
+------+---+----------+------+

In [16]:
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|experience|salary|
+--------------+----+----------+------+
|        mukesh|  23|        10|  8999|
|        rakesh|  34|         3|   877|
|        rukesh|  33|         2|  2333|
|          ravi|  23|        33| 23000|
|          sonu|  34|         4|  3422|
|Missing Values|null|      null|  null|
|Missing Values|  43|      null|  null|
|Missing Values|  33|      null|  5555|
|Missing Values|  44|         4|  null|
+--------------+----+----------+------+

In [17]:
df_pyspark.na.fill('Missing Values', 'experience').show()

+------+----+----------+------+
|  Name| Age|experience|salary|
+------+----+----------+------+
|mukesh|  23|        10|  8999|
|rakesh|  34|         3|   877|
|rukesh|  33|         2|  2333|
|  ravi|  23|        33| 23000|
|  sonu|  34|         4|  3422|
|  null|null|      null|  null|
|  null|  43|      null|  null|
|  null|  33|      null|  5555|
|  null|  44|         4|  null|
+------+----+----------+------+

In [20]:
df_pyspark.na.fill('Missing Values', ['Experience', 'Age']).show()

+------+----+----------+------+
|  Name| Age|experience|salary|
+------+----+----------+------+
|mukesh|  23|        10|  8999|
|rakesh|  34|         3|   877|
|rukesh|  33|         2|  2333|
|  ravi|  23|        33| 23000|
|  sonu|  34|         4|  3422|
|  null|null|      null|  null|
|  null|  43|      null|  null|
|  null|  33|      null|  5555|
|  null|  44|         4|  null|
+------+----+----------+------+

In [23]:
from pyspark.ml.feature import Imputer

imputer =  Imputer(inputCols=['Age', 'experience', 'salary'], outputCols=["{}_imputed".format(c) for c in ['Age', 'experience', 'salary']]).setStrategy('mean')

In [24]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|experience|salary|Age_imputed|experience_imputed|salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|mukesh|  23|        10|  8999|         23|                10|          8999|
|rakesh|  34|         3|   877|         34|                 3|           877|
|rukesh|  33|         2|  2333|         33|                 2|          2333|
|  ravi|  23|        33| 23000|         23|                33|         23000|
|  sonu|  34|         4|  3422|         34|                 4|          3422|
|  null|null|      null|  null|         33|                 9|          7364|
|  null|  43|      null|  null|         43|                 9|          7364|
|  null|  33|      null|  5555|         33|                 9|          5555|
|  null|  44|         4|  null|         44|                 4|          7364|
+------+----+----------+------+-----------+------------------+--------------+

In [25]:
imputer =  Imputer(inputCols=['Age', 'experience', 'salary'], outputCols=["{}_imputed".format(c) for c in ['Age', 'experience', 'salary']]).setStrategy('mode')

In [26]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|experience|salary|Age_imputed|experience_imputed|salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|mukesh|  23|        10|  8999|         23|                10|          8999|
|rakesh|  34|         3|   877|         34|                 3|           877|
|rukesh|  33|         2|  2333|         33|                 2|          2333|
|  ravi|  23|        33| 23000|         23|                33|         23000|
|  sonu|  34|         4|  3422|         34|                 4|          3422|
|  null|null|      null|  null|         23|                 4|           877|
|  null|  43|      null|  null|         43|                 4|           877|
|  null|  33|      null|  5555|         33|                 4|          5555|
|  null|  44|         4|  null|         44|                 4|           877|
+------+----+----------+------+-----------+------------------+--------------+

In [27]:
imputer =  Imputer(inputCols=['Age', 'experience', 'salary'], outputCols=["{}_imputed".format(c) for c in ['Age', 'experience', 'salary']]).setStrategy('median')

In [28]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|experience|salary|Age_imputed|experience_imputed|salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|mukesh|  23|        10|  8999|         23|                10|          8999|
|rakesh|  34|         3|   877|         34|                 3|           877|
|rukesh|  33|         2|  2333|         33|                 2|          2333|
|  ravi|  23|        33| 23000|         23|                33|         23000|
|  sonu|  34|         4|  3422|         34|                 4|          3422|
|  null|null|      null|  null|         33|                 4|          3422|
|  null|  43|      null|  null|         43|                 4|          3422|
|  null|  33|      null|  5555|         33|                 4|          5555|
|  null|  44|         4|  null|         44|                 4|          3422|
+------+----+----------+------+-----------+------------------+--------------+