In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pratise").getOrCreate()

22/01/19 14:05:01 WARN Utils: Your hostname, gautam resolves to a loopback address: 127.0.1.1; using 192.168.149.227 instead (on interface wlp3s0)
22/01/19 14:05:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/gautam/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/19 14:05:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/19 14:05:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/01/19 14:05:01 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/01/19 14:05:01 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [2]:
py_spark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [3]:
py_spark.show()

+------+----+----------+------+
|  Name| Age|experience|salary|
+------+----+----------+------+
|mukesh|  23|        10|  8999|
|rakesh|  34|         3|   877|
|rukesh|  33|         2|  2333|
|  ravi|  23|        33| 23000|
|  sonu|  34|         4|  3422|
|  null|null|      null|  null|
|  null|  43|      null|  null|
|  null|  33|      null|  5555|
|  null|  44|         4|  null|
+------+----+----------+------+

In [4]:
py_spark.filter("salary<=20000").show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  sonu| 34|         4|  3422|
|  null| 33|      null|  5555|
+------+---+----------+------+

In [5]:
py_spark.filter("salary<=20000").select(['name', 'age']).show()

+------+---+
|  name|age|
+------+---+
|mukesh| 23|
|rakesh| 34|
|rukesh| 33|
|  sonu| 34|
|  null| 33|
+------+---+

In [7]:
py_spark.filter(py_spark['salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  sonu| 34|         4|  3422|
|  null| 33|      null|  5555|
+------+---+----------+------+

In [13]:
py_spark.filter((py_spark['salary']<= 20000) & (py_spark['salary'] >= 8000)).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
+------+---+----------+------+

In [14]:
py_spark.filter((py_spark['salary']<= 20000) | (py_spark['salary'] >= 8000)).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|mukesh| 23|        10|  8999|
|rakesh| 34|         3|   877|
|rukesh| 33|         2|  2333|
|  ravi| 23|        33| 23000|
|  sonu| 34|         4|  3422|
|  null| 33|      null|  5555|
+------+---+----------+------+

In [16]:
py_spark.filter(~(py_spark['salary'] <= 20000)).show()

+----+---+----------+------+
|Name|Age|experience|salary|
+----+---+----------+------+
|ravi| 23|        33| 23000|
+----+---+----------+------+