In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Pratise").getOrCreate()

22/01/19 12:33:21 WARN Utils: Your hostname, gautam resolves to a loopback address: 127.0.1.1; using 192.168.149.227 instead (on interface wlp3s0)
22/01/19 12:33:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/gautam/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/19 12:33:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/19 12:33:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [38]:
pyspark_df = spark.read.option('header', 'true').csv('test.csv')

In [6]:
pyspark_df.show()

+------+---+
|  Name|Age|
+------+---+
|mukesh| 23|
|rakesh| 34|
|rukesh| 33|
|  ravi| 23|
|  sonu| 34|
+------+---+

In [7]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [9]:
pyspark_df = spark.read.option('header', 'true').csv('test.csv', inferSchema=True)
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [10]:
pyspark_df = spark.read.csv('test.csv', header=True, inferSchema=True)

In [11]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [12]:
pyspark_df.show()

+------+---+
|  Name|Age|
+------+---+
|mukesh| 23|
|rakesh| 34|
|rukesh| 33|
|  ravi| 23|
|  sonu| 34|
+------+---+

In [13]:
pyspark_df.columns

['Name', 'Age']

In [14]:
pyspark_df.head(3)

[Row(Name='mukesh', Age=23),
 Row(Name='rakesh', Age=34),
 Row(Name='rukesh', Age=33)]

In [16]:
pyspark_df.select('name')

DataFrame[name: string]

In [17]:
pyspark_df.select('name').show()

+------+
|  name|
+------+
|mukesh|
|rakesh|
|rukesh|
|  ravi|
|  sonu|
+------+

In [18]:
type(pyspark_df.select('name'))

pyspark.sql.dataframe.DataFrame

In [19]:
pyspark_df.select(['name', 'age']).show()

+------+---+
|  name|age|
+------+---+
|mukesh| 23|
|rakesh| 34|
|rukesh| 33|
|  ravi| 23|
|  sonu| 34|
+------+---+

In [20]:
pyspark_df['name']

Column<'name'>

In [21]:
pyspark_df.dtypes

[('Name', 'string'), ('Age', 'int')]

In [22]:
pyspark_df.describe()

DataFrame[summary: string, Name: string, Age: string]

In [23]:
pyspark_df.describe().show()

+-------+------+-----------------+
|summary|  Name|              Age|
+-------+------+-----------------+
|  count|     5|                5|
|   mean|  null|             29.4|
| stddev|  null|5.856620185738529|
|    min|mukesh|               23|
|    max|  sonu|               34|
+-------+------+-----------------+

In [39]:
pyspark_df = pyspark_df.withColumn('experience', pyspark_df['age']+10)

In [40]:
pyspark_df

DataFrame[Name: string, Age: string, experience: double]

In [41]:
pyspark_df.drop('agaa')

DataFrame[Name: string, Age: string, experience: double]

In [42]:
pyspark_df = pyspark_df.withColumnRenamed('name', 'full name').show()

+---------+---+----------+
|full name|Age|experience|
+---------+---+----------+
|   mukesh| 23|      33.0|
|   rakesh| 34|      44.0|
|   rukesh| 33|      43.0|
|     ravi| 23|      33.0|
|     sonu| 34|      44.0|
+---------+---+----------+